<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">
           
	<bean id="book1" class="com.study.java.exam.Book"></bean>
	<bean id="book2" class="com.study.java.exam.Book"></bean>
	
	<bean id="myService" class="com.study.java.spring02.component.MyService">
		<!--  setMyDao  -->
		<property name="myDao" ref="myDao"></property>
	</bean>
	
	<bean id="myDao" class="com.study.java.spring02.component.MyDao"></bean>

</beans>